---
import { ViewTransitions } from "astro:transitions";
import { FAVICON_URL } from "src/constants";
import LocalFont from "../generic/LocalFont.astro";

interface Props {
  title: string;
  description: string;
  ogImage?: URL;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

if (Astro.props.ogImage === undefined) {
  Astro.props.ogImage = new URL("/v1/generate/og/default.png", Astro.url);
}

const { title, description, ogImage } = Astro.props;
---

<head>
  <LocalFont />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />

  <link
    rel="alternate"
    href="https://valeriocomo.dev/blog.xml"
    type="application/rss+xml"
  />

  <meta name="title" content={`Valerio Como | ${title}`} />
  <meta name="description" content={description} />

  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={ogImage} />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={canonicalURL} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={ogImage} />

  <link rel="canonical" href={canonicalURL} />
  <link rel="icon" type="image/x-icon" href={FAVICON_URL} />

  <title>valeriocomo.dev | ~/{title.toLowerCase()}</title>

  <!-- Google tag (gtag.js) -->
  <script
    is:inline
    type="text/partytown"
    src="https://www.googletagmanager.com/gtag/js?id=G-GWX720GM40"></script>

  <script is:inline type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    // gtag("consent", "default", {
    //   ad_storage: "denied",
    //   ad_user_data: "denied",
    //   ad_personalization: "denied",
    //   analytics_storage: "denied",
    // });

    gtag("config", "G-GWX720GM40");
  </script>

  <ViewTransitions />

  <slot />
</head>
