---
import { BLOG_URL } from "src/constants";
import MobileNavigation from "./MobileNavigation.astro";

const { BASE_URL: baseUrl, NODE_ENV } = import.meta.env;

const urlBuilder = (path: string) => {
  if (NODE_ENV === "production" && baseUrl !== "/") {
    return `${baseUrl}/${path}`;
  } else {
    return path ? `${baseUrl}${path}` : `${baseUrl}`;
  }
};

interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: "Home", url: urlBuilder(""), target: "_self" },
  { name: "Events", url: urlBuilder(`events`) },
  { name: "Blog", url: BLOG_URL, target: "_blank" },
];

const socialIcons = [
  {
    name: "GitHub",
    url: "https://github.com/valeriocomo",
    icon: "i-uil-github",
  },
  {
    name: "Twitter",
    url: "https://www.twitter.com/valeriocomo",
    icon: "i-uil-twitter",
  },
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/valeriocomo",
    icon: "i-uil-linkedin",
  },
  { name: "RSS", url: "/feed.xml", icon: "i-uil-rss" } as const,
];

const { pageTitle } = Astro.props;
---

<header class="border-b-4 border-black flex justify-between p-6 items-center">
  {pageTitle && <h1 class="hidden">{pageTitle}</h1>}
  <a href="/" title="Back to Home">
    <p class="righteous md:text-5xl">Valerio Como</p>
  </a>
  <nav class="hidden md:inline-block">
    <h2 class="hidden">Navigation</h2>
    <ul class="flex gap-8 poppins">
      {
        navigationItems.map((item) => (
          <li>
            <a
              class="text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out"
              href={item.url}
              title={`Go to ${item.name}`}
              target={item.target}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class="hover:text-green hover:underline transition-all duration-150 ease-in-out"
              target="_blank"
              title={`'See @ValerioComo on ${item.name}`}
            >
              <div class:list={[item.icon, "w-6 h-6"]} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <MobileNavigation items={navigationItems} />
</header>
