---
import { Card, Pill } from "@eliancodes/brutal-ui";
import { Image } from "astro:assets";
import { TALKS_URL } from "src/constants";

const ICON_WIDTH = 25,
	ICON_HEIGHT = 25;

const doing = [
	{ name: "Angular", url: "https://angular.dev/" },
	{ name: "NX", url: "https://nx.dev/" },
	{ name: "GCP", url: "https://cloud.google.com" },
	{ name: "Langchain", url: "https://js.langchain.com" },
	{ name: "Tailwind", url: "https://tailwindcss.com/" },
	{ name: "Devcontainers", url: "https://containers.dev/" },
	{ name: "Docker", url: "https://docker.com/" },
	{ name: "NodeJs", url: "https://nodejs.org/" },
	{ name: "Agile", url: "https://agilemanifesto.org/" },
	{
		name: "Design Angular Kit",
		url: "https://italia.github.io/design-angular-kit",
	},
	{ name: "Vite", url: "https://vitejs.dev/" },
	{ name: "React", url: "https://react.dev/" },
	{ name: "Astro", url: "https://astro.build/" },
];

const techs = [
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg",
		alt: "javascript logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg",
		alt: "typescript logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original.svg",
		alt: "kotlin logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/swift/swift-original.svg",
		alt: "swift logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg",
		alt: "csharp logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg",
		alt: "csharp logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angular/angular-original.svg",
		alt: "angularjs logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ionic/ionic-original.svg",
		alt: "ionic logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg",
		alt: "reactjs logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-original.svg",
		alt: "dot-net logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-original.svg",
		alt: "nestjs logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg",
		alt: "mongodb logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redis/redis-original.svg",
		alt: "redis logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg",
		alt: "docker logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg",
		alt: "git logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
	{
		src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg",
		alt: "vscode logo",
		height: ICON_HEIGHT,
		width: ICON_WIDTH,
	},
];
---

<section class="mt-8 grid md:grid-cols-2 gap-8">
	<Card color="orange">
		<h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif">About me</h2>
		<p class="poppins">
			Hi, I’m Valerio and I'm an all-around software engineer located in
			Italy. Selected as expert, I'm working as Technical Project Manager
			at <a
				href="https://innovazione.gov.it"
				class="underline"
				target="_blank">Dipartimento per la Trasformazione Digitale</a
			>, a department of Prime Minister's office. I wrote my first program
			in early 00's using Turbo Pascal. Graduated in Computer Science, I
			started developing Web Application.
		</p>
		<p class="poppins mt-2">
			I'm into software design, Micro-Frontend, Microservices and DDD.
			Today, I'm mainly focussed on software architecture in general. DX
			is another relevant topic for me, testing and using tools to improve
			team performance.
		</p>
		<p class="poppins mt-2">
			I love working with Angular and NX but also with NodeJS and .NET.
		</p>
		<p class="poppins mt-2">
			I got <a
				href="https://www.credly.com/badges/bd4efb9b-18c3-4527-b9c7-09aef51ffa18/public_url"
				class="underline"
				target="_blank">GCP Associate Cloud Engineer</a
			> certification. I got Agile certifications too, <a
				href="https://bcert.me/sztlqvbbd"
				class="underline"
				target="_blank">CSPO</a
			> and <a
				href="https://less.works/certificates/valerio-como-95637545460.pdf"
				class="underline"
				target="_blank">LeSS Basics</a
			>.
		</p>
		<p class="poppins mt-2">
			Sometimes I like <a
				href={TALKS_URL}
				class="underline"
				target="_blank">giving talks</a
			> about Angular and beyond.
		</p>
	</Card>
	<div class="flex flex-col gap-8">
		<Card>
			<h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
				Tech radar
			</h2>
			<ul class="flex gap-4 flex-wrap">
				{
					techs.map(({ alt, src, width, height }) => (
						<li>
							<Image
								class="rounded-full"
								alt={alt}
								src={src}
								width={width}
								height={height}
							/>
						</li>
					))
				}
			</ul>
		</Card>
		<Card>
			<h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
				What I'm doing
			</h2>
			<ul class="flex gap-4 flex-wrap">
				{
					doing.map((item) => (
						<li class="sanchez">
							<Pill>
								<a
									href={item.url}
									target="_blank"
									title={`Go to ${item.name}`}
								>
									{item.name}
								</a>
							</Pill>
						</li>
					))
				}
			</ul>
		</Card>
	</div>
</section>
